= form_for @translator do |f|
  - if @translator.errors.any?
    #error_explanation
      %h2= "#{pluralize(@translator.errors.count, "error")} prohibited this translator from being saved:"
      %ul
        - @translator.errors.full_messages.each do |message|
          %li= message

  .well
    .row
      .col-md-3
        .form-group
          %label First Name
          %p= f.text_field :first_name
          %label Last Name
          %p= f.text_field :last_name
          %label Country
          %p= f.select :country_id, Country.pluck(:name, :id), {}, required: true
          %label Languages
          %p= f.select :language_ids, Language.pluck(:name, :id),
            { selected: @translator.language_ids, include_hidden: false },
            { multiple: true }
          %label Source
          %p= f.text_field :source, disabled: true
          %p= f.hidden_field :source
        .actions
          = f.submit 'Save'

:javascript
  $( '#translator_country_id, #translator_language_ids' ).select2({
      theme: 'bootstrap'
  });